<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\yourproject.dll" stdoutLogEnabled="false" stdoutLogFile=\\?\%home%\LogFiles\stdout hostingModel="inprocess" />
      <rewrite>
          <rules>`enter code here`
              <rule name="apple_json_file">
                  <match url="^apple-app-site-association" />
                  <action type="Rewrite" url=".well-known/apple-app-site-association.json" />
              </rule>
          </rules>
      </rewrite>
      <staticContent>
          <mimeMap fileExtension=".json" mimeType="application/json" />
      </staticContent>      
    </system.webServer>
  </location>
</configuration>
